*.DS_Store
*.pyc
__pycache__
.fuse_*
._expandrive
static/liveries.png
static/*.ics
liveries
logs
praw.ini
rrScripts/cautions.txt
gunicorn.conf.py
indybot/local_settings.py
tests
celerybeat-schedule*
/log
/ghostdriver.log
indybot.sock
