<nav class="navbar navbar-inverse">
    <div class="navbar-header">
        <a href="/" class="navbar-brand">IndyBot2</a>
    </div>
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Circuits <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="/circuit/list">List</a></li>
                <li><a href="/circuit/create">Create</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Races <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="/race/list/season/2016">List 2016 Season</a></li>
                <li><a href="/race/list">List All</a></li>
                <li><a href="/race/create">Create</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Drivers <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="/driver/list">List All</a></li>
                <li><a href="/driver/list/active">List Active</a></li>
                <li><a href="/driver/list/inactive">List Inactive</a></li>
                <li><a href="/driver/create">Create</a></li>
            </ul>
        </li>
        <!-- <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Results <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="/app_dev.php/result/list">List</a></li>
                <li><a href="/app_dev.php/result/create">Create</a></li>
            </ul>
        </li> -->
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Posts <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="/post/list">List</a></li>
                <li><a href="/post/create">Create</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">CSS <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="">Flags</a></li>
                <li><a href="">Cars</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><p class="navbar-text">Countries</p></li>
                    <li><a href="/country/list">List</a></li>
                    <li><a href="/country/create">Create</a></li>
                <li role="separator" class="divider"></li>
                <li><p class="navbar-text">Start Methods</p></li>
                    <li><a href="/start/list">List</a></li>
                    <li><a href="/app_dev.php/start/create">Create</a></li>
                <li role="separator" class="divider"></li>
                <li><p class="navbar-text">Circuit Types</p></li>
                    <li><a href="/type/list">List</a></li>
                    <li><a href="/app_dev.php/style/create">Create</a></li>
                <li><p class="navbar-text">Result Types</p></li>
                    <li><a href="/resulttype/list">List</a></li>
                    <li><a href="/app_dev.php/resulttype/create">Create</a></li>
            </ul>
        </li>
    </ul>
    <div class="navbar-collapse collapse navbar-right">
        <ul class="nav navbar-nav">
            {% if user.is_authenticated %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <span class="caret"</span></a>
                <ul class="dropdown-menu" role="menu">
                    {% if user.is_superuser %}
                    <li><a href="/admin">Admin Site</a></li>
                    <li role="separator" class="divider"></li>
                    <li><p class="navbar-text">Account Mappings</p></li>
                        <li><a href="/redditaccount/list">List</a></li>
                        <li><a href="/redditaccount/create">Create</a></li>
                    <li role="separator" class="divider"></li>
                    {% endif %}
                    <li><a href="/password_change">Change Password</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </li>
            {% else %}
                <li class="active"><a href="/login">Log In</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
