{% if request.get_host == "127.0.0.1:9000" %}
<div class="progress">
  <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
      DEVELOPMENT INSTANCE
  </div>
</div>
{% endif %}
<nav class="navbar navbar-inverse">
    <div class="navbar-header">
        <a href="/" class="navbar-brand">
            {% if request.get_host == "127.0.0.1:9000" %}
                <font color="#FF0000"><strong>DEVEL</strong></font>
            {% else %}
                IndyBot
            {% endif %}
        </a>
    </div>
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Circuits <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="/circuit/list">List</a></li>
                <li><a href="/circuit/create">Create</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Races <span class="caret"></span></a>
            <ul class="dropdown-menu multi-level" role="menu">
                <li><a href="/race/list/season/{{currentSeason}}">List Current Season</a></li>
                <li><a href="/race/list">List All</a></li>
                <li><a href="/race/create">Create</a></li>
                <li role="separator" class="divider"></li>
                {% load key %}
                {% for season in seasons %}
                    <li><a href="/race/list/season/{{season.id}}">{{season}} Season
                    {% if seasonRaceCount|key:season.id == 0 %}
                        <span float=right class="label label-default">{{ seasonRaceCount|key:season.id }}</span>
                    {% elif seasonRaceCount|key:season.id == season.races %}
                        <span float=right class="label label-success">{{ seasonRaceCount|key:season.id }}</span>
                    {% else %}
                        <span float=right class="label label-danger">{{ seasonRaceCount|key:season.id }}</span>
                    {% endif %}
                    </a></li>
                {% endfor %}
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Drivers <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="/driver/list">List All</a></li>
                <li><a href="/driver/list/active">List Active</a></li>
                <li><a href="/driver/list/inactive">List Inactive</a></li>
                <li><a href="/driver/create">Create</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Posts <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="/post/list/pending">List Pending</a></li>
                <li><a href="/post/list">List All</a></li>
                <li><a href="/post/create">Create</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">CSS <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="">Flags</a></li>
                <li><a href="">Cars</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reddit <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><p class="navbar-text">Liveries</p></li>
                    <li><a href="/liveries/show">Show</a></li>
                    <li><a href="/liveries/regenerate">Regenerate</a></li>
                    <li><a href="/liveries/upload">Upload</a></li>
                <li role="separator" class="divider"></li>
                    <li><a href="/sidebar/update">Update Sidebar/CSS</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><p class="navbar-text">Countries</p></li>
                    <li><a href="/country/list">List</a></li>
                    <li><a href="/country/create">Create</a></li>
                <li role="separator" class="divider"></li>
                <li><p class="navbar-text">Seasons</p></li>
                    <li><a href="/season/list">List</a></li>
                    <li><a href="/season/create">Create</a></li>
                <li role="separator" class="divider"></li>
                <li><p class="navbar-text">Start Methods</p></li>
                    <li><a href="/start/list">List</a></li>
                    <li><a href="/app_dev.php/start/create">Create</a></li>
                <li role="separator" class="divider"></li>
                <li><p class="navbar-text">Circuit Types</p></li>
                    <li><a href="/type/list">List</a></li>
                    <li><a href="/app_dev.php/style/create">Create</a></li>
                <li><p class="navbar-text">Result Types</p></li>
                    <li><a href="/resulttype/list">List</a></li>
                    <li><a href="/app_dev.php/resulttype/create">Create</a></li>
            </ul>
        </li>
    </ul>
    <div class="navbar-collapse collapse navbar-right">
        <ul class="nav navbar-nav">
            {% if user.is_authenticated %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <span class="caret"</span></a>
                <ul class="dropdown-menu" role="menu">
                    {% if user.is_superuser %}
                    <li><a href="/admin">Admin Site</a></li>
                    <li role="separator" class="divider"></li>
                    <li><p class="navbar-text">Account Mappings</p></li>
                        <li><a href="/redditaccount/list">List</a></li>
                        <li><a href="/redditaccount/create">Create</a></li>
                    <li role="separator" class="divider"></li>
                    {% endif %}
                    <li><a href="/password_change">Change Password</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </li>
            {% else %}
                <li class="active"><a href="/login">Log In</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
