{% extends "include/base.html" %}

{% block title %}All Circuits{% endblock %}

{% block content %}

{% if circuitList %}
    <table class="table table-striped table-bordered">
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Length</th>
            <!-- <th>Turns</th> -->
            <th>Style</th>
            <th>Short Name</th>
            <th>Record Speed</th>
            <th>Record Holder</th>
            <th>Actions</th>
        </tr>
        {% for circuit in circuitList %}
        <tr>
            <td>{{ circuit.name }}</td>
            <td>{{ circuit.location }}</td>
            <td>{{ circuit.length }}</td>
            <!-- <td>{{ circuit.turns }}</td> -->
            <td>{{ circuit.type }}</td>
            <td>{{ circuit.shortname }}</td>
            <td>{{ circuit.fastlap }}</td>
            <td>{{ circuit.fastdriver }} ({{ circuit.fastyear }})</td>
            <td>
                <a class="btn btn-xs btn-info" href="/circuit/{{circuit.id}}/edit">Edit</a>
                <a class="btn btn-xs btn-danger" href="/circuit/{{circuit.id}}/delete">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No circuits created.</p>
{% endif %}

{% endblock %}
