{% extends "include/base.html" %}

{% block title %}All Countries{% endblock %}

{% block content %}

{% if countryList %}
    <table class="table table-striped table-bordered">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>ISO</th>
            <th>CC</th>
            <th>Actions</th>
        </tr>
        {% for country in countryList %}
        <tr>
            <td>{{ country.id }}</td>
            <td>{{ country.name }}</td>
            <td>{{ country.iso }}</td>
            <td>{{ country.code }}</td>
            <td>
                <a class="btn btn-xs btn-info" href="/country/{{country.id}}/edit">Edit</a>
                <a class="btn btn-xs btn-danger" href="/country/{{country.id}}/delete">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No races created.</p>
{% endif %}
<a class="btn btn-success" href="/country/create">New Country</a>
<p>
{% endblock %}
