{% extends "include/base.html" %}
{% load staticfiles %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<script type="text/javascript">
    $(document).ready(function() {
        $("#driverTable").tablesorter();

        $('button.driverActiveToggle').click(function() {
            var driverID = $(this).attr('id').split('-')[1]
            $.get('/driver/' + driverID + '/toggleActive', {driver_id: driverID}, function(data){
                if(data == "True") {
                    $('#driverActive-' + driverID).addClass("glyphicon-ok");
                    $('#driverActive-' + driverID).removeClass("glyphicon-remove");
                    $('#driverActive-' + driverID).css("color", "green");
                } else {
                    $('#driverActive-' + driverID).removeClass("glyphicon-ok");
                    $('#driverActive-' + driverID).addClass("glyphicon-remove");
                    $('#driverActive-' + driverID).css("color", "red");
                }
            });
        });
    })
</script>

{% if driverList %}
    <table id="driverTable" class="table tablesorter table-striped table-bordered">
        <thead>
            <tr>
                <th>Last</th>
                <th>First</th>
                <th>Country</th>
                <th>DOB</th>
                <th>Active?</th>
                <th>Twitter</th>
                <th>Number</th>
                <th>Rookie Year</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for driver in driverList %}
        <tr>
            <td>{{ driver.last }}</td>
            <td>{{ driver.first }}</td>
            <td>{{ driver.country }}</td>
            <td>{{ driver.dob }}</td>
            <td align="center">
                {% if driver.active %}
                    <button id="driverActive-{{driver.id}}" class="driverActiveToggle glyphicon glyphicon-ok" style="color:green" aria-hidden="true"></button>
                {% else %}
                    <button id="driverActive-{{driver.id}}" class="driverActiveToggle glyphicon glyphicon-remove" style="color:red" aria-hidden="true"></button>
                {% endif %}
            </td>
            <td>
                {% if driver.twitter %}
                    {{ driver.twitter }}
                {% endif %}
            </td>
            <td>
                {% if driver.number %}
                    {{ driver.number }}
                {% endif %}
            </td>
            <td>
                {% if driver.rookie %}
                    {{ driver.rookie }}
                {% endif %}
            </td>
            <td>
                <a class="btn btn-xs btn-info" href="/driver/{{driver.id}}/edit">Edit</a>
                <a class="btn btn-xs btn-danger" href="/driver/{{driver.id}}/delete">Delete</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No drivers created.</p>
{% endif %}
{% endblock %}
