{% extends "include/base.html" %}

{% block title %}IndyBot Administration{% endblock %}

{% block content %}

<div class="jumbotron">
    <h1>Welcome to IndyBot!</h1>
    <p>You're now logged in to IndyBot's brain, simple though it may be.</p>
    <div class="alert alert-danger" role="alert"><strong>BE CAREFUL!</STRONG>&nbsp; &nbsp;With great power comes great responsibility, etc.  Lots of things don't have confirmation boxes so if you click "Delete" on something, it's going bye-bye.  So... just don't unless you're absolutely sure you know what you're doing.  And even then, stop and think about it first. =)  Confirmation dialogs are on my to-do list, but I just haven't gotten there yet.</div>
    <hr>
    <h2>Live Database Statistics</h2>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Circuits</h3>
                </div>
                <div class="panel-body" align="center">
                    <h2>{{ circuitList|length }}</h2>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Races</h3>
                </div>
                <div class="panel-body" align="center">
                    <h2>{{ raceList|length }}</h2>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Drivers</h3>
                </div>
                <div class="panel-body" align="center">
                    <h2>{{ driverList|length }}</h2>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Countries</h3>
                </div>
                <div class="panel-body" align="center">
                    <h2>{{ countryList|length }}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Seasons</h3>
                </div>
                <div class="panel-body" align="center">
                    <h2>{{ seasonList|length }}</h2>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Results</h3>
                </div>
                <div class="panel-body" align="center">
                    <h2>{{ resultQualCount|add:resultRaceCount }}</h2>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Caution Periods</h3>
                </div>
                <div class="panel-body" align="center">
                    <h2>{{ cautionCount }}</h2>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Posts</h3>
                </div>
                <div class="panel-body" align="center">
                    <h2>{{ postList|length }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
