{% extends "include/base.html" %}
{% load staticfiles %}

{% block title %}Liveries{% endblock %}

{% block content %}
<div id="alert_container">
    <div id="alert" class="alert alert-info" role="alert">
        <div id="alert_text">{{ message }}</div>
        <div id="progress_container" hidden>
            <div class="progress">
                <div id="progress_bar" class="active progress-bar progress-bar-striped" style="width: 0%;"></div>
            </div>
        </div>
    </div>
</div>

<div style="display: none;" id="jobtastic-task" data-task-id="{{ task_id }}"></div>

<img id="liveries" width=100% src="/static/liveries.png">

<script src="{% static "js/jquery-celery/celery.js" %}"></script>
<script>
    $(document).ready(function() {
        var taskId = $("#jobtastic-task").data("task-id");
        var $alertBox = $('#alert');
        var $alertText = $('#alert_text');

        if(taskId) {
            document.getElementById("alert").className = "alert alert-warning";
{% if task == "regenerate" %}
            document.getElementById("alert_text").innerHTML = "<strong>Full Course Yellow!</strong> &nbsp; Regenerating Livery Spritesheet...";
{% elif task == "upload" %}
            document.getElementById("alert_text").innerHTML = "<strong>Full Course Yellow!</strong> &nbsp; Uploading Livery Spritesheet...";
{% endif %}
            $("#progress_container").fadeIn();
        } else {
            $("#alert").hide();
            $("#alert_text").hide();
        }
        // $alertText.empty().append(taskId); // WORKS

        function error() {
            document.getElementById("alert").className = "alert alert-danger";
{% if task == "regenerate" %}
            document.getElementById("alert_text").innerHTML = "<strong>Oops!</strong> &nbsp; There was an error generating the spritesheet.";
{% elif task == "upload" %}
            document.getElementById("alert_text").innerHTML = "<strong>Oops!</strong> &nbsp; There was an error uploading the spritesheet.";
{% endif %}
        };

        $.fn.djcelery({
            task_id: taskId,
            check_interval: 500,
            on_success: function (task) {
                $("#progress_bar").width('100%').delay(1000).addClass("progress-bar-success");//.removeClass("progress-bar-info");
                $("#alert").delay(1000).addClass("alert-success").removeClass("alert-warning");
{% if task == "regenerate" %}
                $("#alert_text").delay(300).html("<strong>Success!</strong> &nbsp; New Spritesheet Generated!")
{% elif task == "upload" %}
                $("#alert_text").delay(300).html("<strong>Success!</strong> &nbsp; Spritesheet Uploaded!")
{% endif %}
                $("#progress_container").delay(3000).fadeOut();
                $("#liveries").attr("src", $("#liveries").attr("src")+"?timestamp=" + new Date().getTime());
            },
            on_failure: error,
            on_error: error,
            on_other: function(task) {
                console.log("t.s: " + task);
                if (task.status == "PROGRESS") {
                    var complete_percentage = Math.round(task.result.progress_percent * 100) / 100;
                    console.log("percent: " + complete_percentage);
                    $("#progress_bar").width(complete_percentage + '%');
                };
            }
        });
    });
</script>
{% endblock %}
