{% extends "include/base.html" %}


{% block content %}
<form role="form"  method="post" action=".">
                {% csrf_token %}

<h2 class="form-signin-heading">Change Password</h2>

<div class="form-group">
    <p class="required"><label for="id_old_password">OLD Password:</label>
        <input class="form-control" id="id_old_password" name="old_password" type="password" placeholder="Enter password" /></p>
</div>
<div class="form-group">
    <p class="required"><label for="id_new_password1">NEW Password:</label>
        <input class="form-control" id="id_new_password1" name="new_password1" type="password" placeholder="Enter password" /></p>
</div>
<div class="form-group">
    <p class="required"><label for="id_new_password2">NEW Password (again):</label>
 <input class="form-control" id="id_new_password2" name="new_password2" type="password" placeholder="Enter password again" /></p>
</div>

<button type="submit" class="btn btn-default">Submit</button>

        </form>
{% endblock %}
