{% extends "include/base.html" %}

{% block title %}{{ resultTypeName }} Results for {{ race.title }}{% endblock %}

{% block content %}
<h3><span class="label label-default">{{ resultTypeName }}</span> Results for {{ race.title }}</h3>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<script>
    function moveDown(event) {
        mover = event.data.pos;
        for (i = 33; i > mover; i--) {
            sourceElement = "driver_pos_" + (i - 1)
            destElement = "driver_pos_" + i
            $('select[name=' + destElement + ']').val($('select[name=' + sourceElement + ']').val())
            $('select[name=' + sourceElement + ']').val(0)
        }
    }
    function checkDupes() {
        baseName = "driver_pos_";
        driverMap = new Map()
        $("#driver_pos_1 option").each(function() {
            driverMap.set($(this).val(), new Set());
        });
        for (i = 1; i <= 33; i++) {
            elementID = "driver_pos_" + i;
            $("#" + elementID).css('background-color', '');
            driverID = $("#" + elementID).val();
            if (driverID != 0) {
                rowSet = driverMap.get(driverID);
                rowSet.add(i);
                driverMap.set(driverID, rowSet);
            }
            console.log("driver at pos: " + i + ": " + $("#" + elementID).val());
        }
        for (var [key, value] of driverMap) {
            console.log("DID: " + key + " - val: " + value + " - size: " + value.size);
            if (value.size > 1) {
                for ( item of value) {
                    console.log("Coloring row " + item + " red.");
                    targetElement = "driver_pos_" + item
                    $("#" + targetElement).css('background-color', 'red');
                }
            }
        }
    }
</script>

<form action="{% url 'results_update' race.id resultTypeName.id %}" method="POST">
{% csrf_token %}
<table class="table table-striped table-bordered">
    <tr><th>Position</th><th>Driver</th></tr>
    {% for position, driverID in positions %}
    <tr>
        <td>{{ position }}</td>
        <td>
            <select id="driver_pos_{{ position }}" name="driver_pos_{{ position }}">
                <option value="0"> </option>
                {% for driver in activeDrivers %}
                    {% if driver.id == driverID %}
                    <option value="{{ driver.id }}" selected="selected">{{ driver.last }}, {{ driver.first }}</option>
                    {% else %}
                    <option value="{{ driver.id }}">{{ driver.last }}, {{ driver.first }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <span id="arrow_down_{{ position }}" class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
            <script>
                $('#driver_pos_{{position}}').change(checkDupes);
                $('#arrow_down_{{position}}').click({pos: {{ position }}}, moveDown);
            </script>
        </td>
    </tr>
    {% endfor %}
</table>
<input type="submit" value="Submit" />
</form>
{% endblock %}
