{% extends "include/base.html" %}

{% block title %}All Result Types{% endblock %}

{% block content %}

{% if resultTypeList %}
    <table class="table table-striped table-bordered">
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Actions</th>
        </tr>
        {% for resultType in resultTypeList %}
        <tr>
            <td>{{ resultType.id }}</td>
            <td>{{ resultType.name }}</td>
            <td>
                <a class="btn btn-xs btn-info" href="/resulttype/edit/{{resultType.id}}">Edit</a>
                <a class="btn btn-xs btn-danger" href="/resulttype/delete/{{resultType.id}}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No result types created.</p>
{% endif %}
{% endblock %}
