{% extends "include/base.html" %}

{% block title %}All Starts{% endblock %}

{% block content %}

{% if startList %}
    <table class="table table-striped table-bordered">
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Actions</th>
        </tr>
        {% for start in startList %}
        <tr>
            <td>{{ start.id }}</td>
            <td>{{ start.type }}</td>
            <td>
                <a class="btn btn-xs btn-info" href="/app_dev.php/race/edit/{{race.id}}">Edit</a>
                <a class="btn btn-xs btn-danger" href="/app_dev.php/race/delete/{{race.id}}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No starts created.</p>
{% endif %}
{% endblock %}
